{% extends "base.html" %}
{% block table %}
<style type="text/css">
    td {text-align: center}
</style>
<form method = "post" enctype="application/x-www-form-urlencoded" style="text-align: center; margin: 10px" >
    <table border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside" >
        <tr>
            <th width="120px">SN号</th>
            <th width="420px">CPU</th>
            <th width="60px">内存</th>
            <th width="200px">硬盘</th>
        </tr>
    </table>
    <table border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside" >
        {% for i in result_servconf %}
        <tr>
            <td style="background-color: powderblue" width="120px" >{{ i.info_id }}</td>
            <td style="background-color: powderblue" width="420px" >{{ i.cpu }}</td>
            <td style="background-color: powderblue" width="60px">{{ i.mem }}</td>
            <td style="background-color: powderblue" width="200px">{{ i.disk }}</td>
        </tr>
        {% endfor %}
    </table>
<!--   <table style="margin-top: 40px" border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside" > -->
<!--        <tr> -->
<!--            <th width="200px">外网IP</th> -->
<!--            <th width="200px">外网IP_1</th> -->
<!--            <th width="200px">外网IP_2</th> -->
<!--            <th width="200px">外网IP_3</th> -->
<!--        </tr> -->
<!--    </table> -->
<!--    <table border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside" > -->
<!--        {% for i in result_servconf %} -->
<!--        <tr> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.wip }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.wip_1 }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.wip_2 }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.wip_3 }}</td> -->
<!--        </tr> -->
<!--        {% endfor %} -->
<!--    </table> -->
<!--    <table style="margin-top: 40px" border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside"> -->
<!--        <tr> -->
<!--           <th width="200px">内网IP</th> -->
<!--            <th width="200px">内网IP_1</th> -->
<!--            <th width="200px">内网IP_2</th> -->
<!--            <th width="200px">内网IP_3</th> -->
<!--        </tr> -->
<!--    </table> -->
<!--    <table border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside" > -->
<!--        {% for i in result_servconf %} -->
<!--        <tr> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.lip }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.lip_1 }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.lip_2 }}</td> -->
<!--            <td style="background-color: powderblue" width="200px">{{ i.lip_3 }}</td> -->
<!--        </tr> -->
<!--        {% endfor %} -->
<!--    </table> -->

    <table style="margin-top: 40px" border="1" align="center" width="auto" cellpadding="5" cellspacing="0" frame="vside">
        <tr>
            <th align="center" width="800px" colspan="4">维护记录</th>
        </tr>
        <tr>
            {% for i in result_servconf %}
            <th align="center" colspan="4" ><a href="http://127.0.0.1:8000/index/manage/{{ i.info_id }}/add_info/">添加记录</a></th>
            {% endfor %}
        </tr>
        <tr>
            <th width="auto">序列</th>
            <th width="auto">时间</th>
            <th width="auto">记录人</th>
            <th width="600px">明细</th>
        </tr>
        {% for i in result_maintainrecords %}
        <tr>
            <td width="auto">{{ i.id }}</td>
            <td width="auto">{{ i.time }}</td>
            <td width="auto">{{ i.editor }}</td>
            <td width="600px">{{ i.content }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}