{% extends "base.html" %}
{% block table %}
<style type="text/css">
    th {text-align: center}
    td {text-align: center}
</style>
<div class="container">
    <form style="margin-top: 30px">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th style="background-color: #dbdbdb; width: 10%; vertical-align: middle">SN号</th>
                    <th style="background-color: #dbdbdb; width: 40%; vertical-align: middle">CPU</th>
                    <th style="background-color: #dbdbdb; width: 10%; vertical-align: middle">内存</th>
                    <th style="background-color: #dbdbdb; width: auto; vertical-align: middle">硬盘</th>
                </tr>
            </thead>
            <tbody>
                {% for i in result_servconf %}
                <tr>
                    <td>{{ i.info_id }}</td>
                    <td>{{ i.cpu }}</td>
                    <td>{{ i.mem }}</td>
                    <td>{{ i.disk }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <!-- 下面这个for循环取值肯定不是最好的方法，需要改进-->
                    {% for i in result_servconf %}
                    <th colspan="4" style="background-color: #dbdbdb">维护记录<a style="margin-left: 100px" href="http://127.0.0.1:8000/index/servermanage/{{ i.info_id }}/add_info/">添加</a></th>
                    {% endfor %}
                </tr>
                <tr>
                    <th style="width: 5%; vertical-align: middle">序列</th>
                    <th style="width: 16%; vertical-align: middle">时间</th>
                    <th style="width: 10%; vertical-align: middle">记录人</th>
                    <th style="width: auto; vertical-align: middle">维护明细</th>
                </tr>
            </thead>
            <tbody>
            {% for i in result_maintainrecords %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.time }}</td>
                    <td>{{ i.editor }}</td>
                    <td>{{ i.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}