<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理系统</title>
</head>

<body style="font-family: Verdana">
<h1 style="text-align: center">管理系统</h1>
<form action="" method = "post" enctype="multipart/form-data" style="text-align: center">
    {% csrf_token %}
    {{lg.as_p}}
    <input type="submit" value = "ok" />
</form>
</body>
</html>