{% extends "base.html" %}
{% block table %}
<style type="text/css">
    td {text-align: center}
</style>
<form method = "post" enctype="application/x-www-form-urlencoded" style="text-align: center; margin: 10px" >
    {% csrf_token %}
    {{ msf.as_ul }}
    <input type="submit" value = "提交" />
    <br />
    {% if result_default_count %}
        <p>查询结果:{{ result_default_count }} 台</p>
    {% else %}
        <p>查询结果:{{ result_servinfo_count }} 台</p>
    {% endif %}
    <table border="1" align="center" width="80%" cellpadding="5" cellspacing="0" frame="vside" >
        <tr>
            <th>SN号</th>
            <th>外网IP</th>
            <th>内网IP</th>
            <th>平台</th>
            <th>品牌</th>
            <th>机架位</th>
            <th>用途</th>
            <th>双电源</th>
            <th>状态</th>
        </tr>
        {% if result_default %}
        {% for i in result_default %}
        <tr>
            <td> <a href="http://127.0.0.1:8000/index/manage/{{ i.sn }}" style="text-decoration: none">{{ i.sn }}</a></td>
            <td>{{ i.wanip }}</td>
            <td>{{ i.lanip }}</td>
            <td>{{ i.platform }}</td>
            <td>{{ i.brand }}</td>
            <td>{{ i.position }}</td>
            <td>{{ i.used }}</td>
            <td>{{ i.power }}</td>
            <td>{{ i.status }}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% for i in result_servinfo %}
        <tr>
            <td> <a href="http://127.0.0.1:8000/index/manage/{{ i.sn }}" style="text-decoration: none">{{ i.sn }}</a></td>
            <td>{{ i.wanip }}</td>
            <td>{{ i.lanip }}</td>
            <td>{{ i.platform }}</td>
            <td>{{ i.brand }}</td>
            <td>{{ i.position }}</td>
            <td>{{ i.used }}</td>
            <td>{{ i.power }}</td>
            <td>{{ i.status }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</form>
{% endblock %}