{% extends "base.html" %}
{% block table %}
<style type="text/css">
    td {text-align: center}
</style>
<form method = "post" enctype="application/x-www-form-urlencoded" action='' style="text-align: center; margin: 10px" >
    {% csrf_token %}
    {{ sff }}
   <input type="submit" value="确定" />
</form>
<table border="1" align="center" width="80%" cellpadding="5" cellspacing="0" frame="vside" >
        <tr>
            <th>User Name</th>
            <th>Passphrase</th>
            <th>WLAN</th>
            <th>Mac Address</th>
            <th>Vlan ID</th>
            <th>Expires</th>
            <th>使用人</th>
            <th>使用设备</th>
            <th>部门</th>
        </tr>
        {% for i in reult_wifi %}
        <tr>
            <td>{{ i.username }}</td>
            <td>{{ i.passphrase }}</td>
            <td>{{ i.wan }}</td>
            <td>{{ i.macaddr }}</td>
            <td>{{ i.vlan }}</td>
            <td>{{ i.expires }}</td>
            <td>{{ i.who }}</td>
            <td>{{ i.device }}</td>
            <td>{{ i.department }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}